<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.Mapper.ConsumptionMapper">
    <select id="page" resultType="com.zhang.Pojo.VO.ConsumptionVO">
        select c.*,u.name
        from consumption c
        left join user u on c.user_id = u.id
        <where>
            <if test="userId !=null">
                c.user_id = #{userId}
            </if>
            <if test="event != null">
            and c.event like concat ('%',#{event},'%')
            </if>
            <if test="username != null">
            and u.name like concat ('%',#{username},'%')
            </if>
            <if test="minAmount != null">
                and c.amount &gt;= #{minAmount}
            </if>
            <if test="maxAmount != null">
                and c.amount &lt;= #{maxAmount}
            </if>
            <if test="beginDateTime != null">
                and c.create_time &gt;= #{beginDateTime}
            </if>
            <if test="endDateTime != null">
                and c.create_time &lt;= #{endDateTime}
            </if>

        </where>
        order by c.create_time desc
    </select>
    <delete id="deleteByIds">
        delete from consumption where id in
        <foreach item="id" collection="ids" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <update id="update">
        update consumption
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="event != null">
                event = #{event},
            </if>
            <if test="amount != null">
                amount = #{amount},
            </if>
            <if test="detail != null">
                detail = #{detail},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>