<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.Mapper.EmpMapper">
    <select id="page" resultType="com.zhang.Pojo.VO.EmpVO">
        select id,username,name,gender,age,phone,status,entry_date,create_time,update_time from emp
        <where>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="beginDate != null">
                and entry_date &gt; #{beginDateTime}
            </if>
            <if test="endDate != null">
                and entry_date &lt; #{endDateTime}
            </if>

        </where>
        order by update_time desc

    </select>
    <update id="update">
        update emp
        <set>
            <if test="username != null">
                username=#{username},
            </if>
            <if test="name != null">
                name= #{name},
            </if>
            <if test="password != null">
                password= #{password},
            </if>
            <if test="gender != null">
                gender= #{gender},
            </if>
            <if test="age != null">
                age= #{age},
            </if>
            <if test="phone != null">
                phone= #{phone},
            </if>
            <if test="status != null">
                status= #{status},
            </if>
            <if test="entryDate != null">
                entry_date= #{entryDate},
            </if>
            <if test="updateTime != null">
                update_time= #{updateTime},
            </if>
        </set>
        where id=#{id}
    </update>
    <delete id="deleteById">
        delete from emp
        where id=#{id}
    </delete>

</mapper>