<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.Mapper.ReportMapper">
    <select id="ageReport" resultType="java.util.Map">
        select age,count(*) as count
        from user
        group by age
    </select>
    <select id="genderReport" resultType="java.util.Map">
        select
            (case when gender=1 then '男'
                when gender=0 then '女'
                else '未知' end) as gender,
        count(*) as count
        from user
        group by gender
    </select>
    <select id="CountConumptionReport" resultType="java.lang.Integer">
        select count(*) from consumption
        <where>
            <if test="userId !=null">
                and user_id= #{userId}
            </if>
            <if test="beginDateTime !=null">
                and create_time &gt;= #{beginDateTime}
            </if>
            <if test="endDateTime !=null">
                and create_time &lt;= #{endDateTime}
            </if>
        </where>
    </select>
    <select id="CountConumptionTypeReport" resultType="java.lang.Integer">
        select  count(*)
        from consumption
        <where>
            <if test="userId !=null">
                and user_id= #{userId}
            </if>
            <if test="event !=null">
                and event= #{event}
            </if>
            <if test="beginDateTime !=null">
                and create_time &gt;= #{beginDateTime}
            </if>
            <if test="endDateTime !=null">
                and create_time &lt;= #{endDateTime}
            </if>
        </where>
    </select>
    <select id="totalConsumtionReport" resultType="java.lang.Double">
        select sum(amount) from consumption
        <where>
            <if test="userId !=null">
                and user_id= #{userId}
            </if>
            <if test="beginDateTime !=null">
                and create_time &gt;= #{beginDateTime}
            </if>
            <if test="endDateTime !=null">
                and create_time &lt;= #{endDateTime}
            </if>
        </where>
    </select>
    <select id="newUserReport" resultType="java.lang.Integer">
        select count(*) from user
        <where>
            <if test="beginDateTime !=null">
                and create_time &gt;= #{beginDateTime}
            </if>
            <if test="endDateTime !=null">
                and create_time &lt;= #{endDateTime}
            </if>
        </where>
    </select>


</mapper>