<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.Mapper.ReportMapper">
    <select id="ageReport" resultType="java.util.Map">
        select age,count(*) as count
        from user
        group by age
    </select>
    <select id="genderReport" resultType="java.util.Map">
        select
            (case when gender=1 then '男'
                when gender=0 then '女'
                else '未知' end) as gender,
        count(*) as count
        from user
        group by gender
    </select>
    <select id="eventReport" resultType="java.util.Map">
        select
            (case when event=1 then '饮食'
                  when event=2 then '购物'
                  when event=3 then '交通'
                  when event=4 then '医疗'
                  when event=5 then '娱乐'
                  else '其他' end) as event,
            count(*) as count
        from consumption
        group by event
        <where>
            <if test="userId !=null">
                user_id=#{userId}
            </if>
        </where>
    </select>


</mapper>